<form action="/addNote" method="post" style="width: 50%;">
  <div class="form-group" style="margin-left: auto; margin-right: auto; padding-left: 25px;">
    <input type="text" name="id" value={{id}} hidden>
    <br>
    <label for="comments">Comments</label>
    <textarea type="text" class="form-control" name="comments" rows="3"></textarea>
  </div>
  <div style="padding-left:25px;">
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/">Cancel</a>
  </div>
</form>