{{#each entry}}
    <article class="card" style="width: 100%; align-content:center; text-align:center">
        <h1 style="height: 50px; align-content: center;">{{title}}</h1>
    </article>
    <br>
    
{{/each}}